/* CustomCursor.css */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 1;
  height: 1;
  pointer-events: none;
  transform: translate(50%, 50%);
  z-index: var(--cursor-z-index);
}
.cursor img {
  transform: translate(-24%, -10%);
}
